.readBook_contain{
    background-color: #fff;
    padding: 50px;
    border: 2px solid red;
    border-style:groove;
    border-radius: 80px;
    letter-spacing: 1px;
    color: black;
    font-size: 15px;
    margin: 32px 32px ;
}
.books{
    background-color:blueviolet;
    padding: 10px;
    border: 2px solid black;
    width: 300px;
    text-align: center;
    margin-left: 500px;
    border-radius: 180px;
}
