/* .information1{
    text-align: center;
    
} */


.information1{
    background-color: chartreuse;

}

.usedcard{
    background-color: rgba(230, 109, 230, 0.5);
}

.usedcard{
    /* background-color: rgb(44, 194, 30); */



    margin-top: 10px;
}   
.even{
    border: 2px solid black;
    background-color: rgba(240, 128, 128, 0.719);
    padding: 30px;
    margin: 30px 450px;
    border-radius: 10px;
}




















    