 
.userLogin1{
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.userLogin1 .form_container1{ 
    background-color: #fff;
    height:350px;
    padding: 30px 60px; 
     border-radius: 90px; 
     margin: auto;
     box-shadow: 3px 5px 5px 3px black;
 }

.form_container1 h1{
     font-family: 'Times New Roman', Times, serif;
     font-style:italic;
     font-size: 60px;
     margin-top: 60px;
}

.email1 input{
    padding: 14px;
    border-radius: 20px;
    border: 2px solid black;
    width: 70%;
    margin-top: 10px;
    height: 16px;
   
}
.password input{
    
    padding: 14px;
    border-radius: 20px;
    border: 2px solid black;
    width: 70%;
    margin-top: 10px;
    height: 16px;
}
.btn5 {
    border-radius: 20px;
    margin: 10px;
     padding: 16px;

}
.btn5:hover{
   background-color:blue; 
   color: #fff;
}

